<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- Core styles -->
	<link rel="stylesheet" href="/media/css/style.css">
</head>
<body>
		<div id="page-wrapper">

			<!-- header -->
			<header id="header">
				<div class="container">
					<div class="row">
						Header
					</div>
				</div>
			</header><!-- / header -->

			<!-- content -->
			<div id="content">
				<div class="container">
					<p class="article"><a href="#">#1</a></p>
					<p class="article"><a href="#">#2</a></p>
					<p class="article"><a href="#">#3</a></p>
					<p class="article"><a href="#">#4</a></p>
				</div>
			</div><!-- / content -->

			<!-- aside -->
			<div id="aside">
				<div class="container">
					Sidebar
				</div>
			</div><!-- / aside -->

			<!-- footer -->
			<footer id="footer">
				<div class="container">
					Footer
				</div>
			</footer><!-- / footer -->
		</div>
</body>
</html>